.menu-burger__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: flex-start;

  width: 100%;
  /* height: 100%; */
  height: auto;

  font-style: normal;
  font-size: 1.35em;
  font-weight: normal;
  /* color: #000; */
  color: #fff;
  margin: 0;
  padding: 0;
  padding: 16px 0px;

  /* background-color: #fff; */
  background-color: #000;
  /* background-color: #B6BCBF; */

  /* border-radius: 16px; */

  /* border: 1px solid red; */

}


.menu-burger__item:hover {
  cursor: pointer;
  background-color: #d4d4d441;
  transform: scale(1);
  transition: background-color 0.2s, transform 0.2s;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .menu-burger__item {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    /* border-radius: 50px; */
    /* border-bottom: 1px solid #B6BCBF; */
    color: #fff;

    margin: 0;
    padding: 0;
  }
}
