@import url('./__title/__title.css');
@import url('./__subtitle/__subtitle.css');
@import url('./__list/__list.css');
@import url('./__list/_item/_item.css');
@import url('./__list/_item/_title/_title.css');
@import url('./__list/_item/_link/_link.css');
@import url('./__list/_item/_image/_image.css');

.project {
  margin: 0 auto;
  /* padding: 2.5em 104px 0px; */
  /* padding: 40px 104px 0px; */
  /* padding: 40px 104px; */
  padding: 40px 36px;
  display: flex;
  /* display: none; */
  /* position: fixed; */
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: top;
  min-height: 80px;
  /* height: 756px; */
  /* height: 768px; */
  min-height: calc(100% - 40px);
  width: 768px;

  box-shadow: inset 0px -1px 0px #D1D2D6;
  /* border: 1px solid red; */
  background-color: inherit;
  /* background-color:#f4f4f4; */

  border-bottom: 1px solid rgba(84, 84, 84, .7);
  /* border: 1px solid red; */
  z-index: 4;

}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .project {
    padding: 40px 24px 50px;
    width: calc(100% - 48px);
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .project {
    /* height: calc(100vh - 42px); */
    padding: 40px 16px 50px;
    width: calc(100% - 32px);
    /* left: calc(50% - 160px); */
    /* position: fixed; */
    /* margin-top: 42px; */

  }
}
