{
"env": {
  "es6": true,
  "browser": true
 },
"rules": {
  // "react/jsx-filename-extension": 0,
  // "no-underscore-dangle": ["error", { "allow": ["_id"] }],
  "no-underscore-dangle": "off"
},
"parser": "babel-eslint",
"parserOptions": {
  "sourceType": "module",
  "allowImportExportEverywhere": true,
  "codeFrame": true
}
}
