.about__visual_image {
  /* width: 756px; */
  width: 100%;
  /* height: 100%; */
  min-height: 20%;
  /* border-radius: 20em; */
  border-radius: 0px;

  border: 1px solid red;
}


/* @media (prefers-reduced-motion: no-preference) {
  .about__visual {
    animation: Visual-spin infinite 20s linear;
  }
}

@keyframes Visual-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */