.about__title {
  /* font-family: 'Courier New', Courier, monospace; */
  font-style: normal;
  /* font-size: 2.5em; */
  font-weight: bold;
  /* margin: 1em 0px 0px 0px; */
  margin: 0;
  padding: 0;
  width: 100%;

  /* text-align: left; */

  letter-spacing: 7px;
  text-align: center;
  font-size: 4.5em;

  /* border: 1px solid red; */
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .about__title {
    letter-spacing: 7px;
    /* text-align: center; */
    font-size: 2.75em;
  }
}
