.about__title {
  /* font-family: 'Courier New', Courier, monospace; */
  font-style: normal;
  font-size: 2.5em;
  font-weight: bold;
  margin: 1em 0px 0px 0px;
  padding: 0;
  width: 100%;
  text-align: left;

  border: 1px solid red;
}