.project__list_item_title {
  display: block;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 10px;
  column-gap: 50px; */
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-style: normal;
  font-size: 1em;
  font-weight: normal; */

  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  /* text-align: center; */

  margin-block-start: 0em;
  margin-block-end: 0em;

  /* height: 50px; */
  /* width: auto; */
  /* margin: 0.5em auto 0px; */
  /* padding: 1em 0px; */

  border: 1px solid blue;
}
