.menu-burger__item_image {
  position: relative;
  display: block;
  /* align-items: center;
  justify-content: center; */

  width: 75%;
  height: 75%;

  /* font-style: normal;
  font-size: 1.35em;
  font-weight: normal; */
  margin: 0;
  padding: 0;

  /* border: 1px solid red; */
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .menu-burger__item_image {
    height: 75%;
    width: auto;
    margin-left: 50px;
  }
}
