.menu-burger__item_image {
  position: relative;
  display: block;
  /* align-items: center;
  justify-content: center; */

  width: 75%;
  height: 75%;

  /* font-style: normal;
  font-size: 1.35em;
  font-weight: normal; */
  margin: 0;
  padding: 0;

  border: 1px solid red;
}
