/* .about__visual_fly-text {
  width: 756px;
  width: 50px;
  height: 50px;

  margin: 0;
  padding: 0;

  background-image: none;
  align-self: center;
  border-radius: 1em;

  font-size: 1em;
  font-weight: normal;
  font-style: normal;

  border: 1px solid red;
} */

.about__visual_fly-text {
  /* width: 756px; */
  width: 120px;
  height: 100px;
  margin: 0;
  padding: 0;
  background-image: none;
  align-self: center;
  border-radius: 8em;
  font-size: 1.75em;
  font-weight: normal;
  text-align: center;
  padding-top: 21px;
  position: absolute;
  background-color: #eeeeee;
  top: 263px;
  font-style: normal;
  border: 1px solid red;
}
