.header__button {
  width: 2em;
  /* height: 2em; */
  height: fit-content;
  margin: 0;
  padding: 0;
  background-image: none;
  /* background-color: yellow; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 1px;
  /* border: 1px solid green; */

  color: #B6BCBF;
}

.header__button:hover {
cursor: pointer;
/* background-color:rgb(154, 154, 154); */
}

.header__button:last-child:hover {
  cursor: pointer;
  /* background-color:rgb(154, 154, 154); */

}

/* .header__button:focus {
  cursor: pointer;
} */

/* .header__button:active {
  cursor: pointer;
} */