.about__subtitle {
  /* font-family: 'Courier New', Courier, monospace; */
  font-style: normal;
  /* font-size: 1.5em; */
  font-weight: bold;
  /* margin: 1.25em 0px; */
  /* margin: 1.25em 0px 0px; */
  margin: 1.5em 0px 0px;
  padding: 0;
  width: 100%;
  /* text-align: right; */
  text-align: center;

  width: 100%;
  letter-spacing: 16px;
  font-size: 3em;

  /* border: 1px solid red; */
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .about__subtitle {
    letter-spacing: 15px;
    /* text-align: center; */
    font-size: 2em;
    margin: 1.5em 0px 0px;
  }
}
